<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liangjz.test.myapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name="com.liangjz.test.myapplication.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/NoTitleFullScreenTheme"
        android:supportsRtl="true">
        <activity android:name="com.liangjz.test.myapplication.view.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.liangjz.test.myapplication.service.CalcuService" />
        <service android:name="com.liangjz.test.myapplication.service.MessengerService" android:process=":remote" />
        <service android:name="com.liangjz.test.myapplication.service.MyIntentService" />
        <receiver android:name="com.liangjz.test.myapplication.receiver.TestReceiver">
            <intent-filter>
                <action android:name="MY_BROCAST"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>